@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root{
    --main-font: #1b1b1b;
    --sub-font: #4b4b4b;
    --box-shadow: 0 6px 18px rgba(0, 0, 0, 0.07);
}

*{
    margin: 0;
    padding: 0;
    font-family: Quicksand, sans-serif;
    box-sizing: border-box;
}

h1{
    font-size: 48px;
    line-height: 62px;
    color: var(--main-font);
}

h2{
    font-size: 44px;
    line-height: 52px;
    color: var(--main-font);
}

h4{
    font-size: 18px;
    color: var(--main-font);
}

h6{
    font-weight: bold;
    font-size: 12px;
}

p{
    color: var(--sub-font);
}

body{
    width: 100%;
}


#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 68px;
    background-color: #BFEBCB;
    box-shadow: var(--box-shadow);
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    text-decoration: none;
    color: var(--sub-font);
    font-weight: 600;
}

#navbar li a:hover, #navbar li a.live{
    color: rgb(68, 115, 149);
}

img{
    width: 150px;
}